<%
// Get MongoDB version
adminDb = mongo.admin();
serverStatus = await adminDb.serverStatus();
mongoVersion = serverStatus.version;
%>

<h2>MongoDB Connected Successfully!</h2>
<p>Version: <%= mongoVersion %></p>