<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMP-JS</title>
    <link rel="stylesheet" href="/public/global.css">
</head>

<body>
    <header>
        <h1>HEADER</h1>
        <nav>
            <a href="/">Return to Home</a>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <%- await include('../partials/footer.ejs') %>

</body>

</html>