<ul>
    <li><a href="/about.ejs">About</a></li>
    <li><a href="/hello">Hello</a></li>
    <li><a href="/hello/friend.ejs">Hello Friend</a></li>
    <li><a href="/hello/world">Hello World</a></li>
  </ul>