<h2>Test Navigation</h1>
  <%- await include('partials/test_nav.ejs') %>

    <h2>Test JavaScript Functions</h1>
      <ul>
        <li><a href="/time.ejs">Get Current Time</a></li>
      </ul>

      <h2>Test Client Connections</h2>
      <ul>
        <li><a href="/clients/mongo.ejs">Mongo</a></li>
        <li><a href="/clients/postgres.ejs">Postgres</a></li>
      </ul>

      <h2>Test Mini-Apps</h2>
      <ul>
        <li><a href="/users/">Users</a></li>
      </ul>